<header>
    <div class="horizontalList">
        <div>
            <button id="menuButton" class="menuButton" title="Meniu">
                <img class="menuIcon" src="{{ asset('images/menu.png') }}" alt="Meniu"/>
            </button>
        </div>

        <div>
            <h1>NAGIDO</h1>
        </div>

        <div>
            <button id="searchButton" class="searchButton" title="Paieška">
                <img id="searchImage" class="searchImage" src="{{ asset('images/search-single.png') }}" alt="Paieška"/>
            </button>
        </div>

        <div>
            <form id="searchForm" method="POST"  class="searchForm">
                <input id="searchInput" type="text" name="search" placeholder="Ieškokite">
                <span class="close">&times;</span>
            </form>
        </div>

        <div>
            <a href="{{ asset('logout') }}" class="signOutButton">
                Atsijungti
            </a>
        </div>
    </div>
</header>