{% block list0 %}
    <ul id="ul0">
        <li>
            <div>
                <img src="{{ asset('images/logo-text.png') }}" alt="Logo"/>
            </div>
        </li>
    </ul>
{% endblock %}